/*******************/
/*** STYLESHEETS ***/
/***************/
/*** GENERAL ***/
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-image: url("/public/bigstock-Background-with-D-hexagons-pa-417542800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: bottom; }

/***************/
/**************/
/*** HEADER ***/
.navbar {
  background-color: white;
  opacity: 0.85;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  width: 100%;
  transition: all 0.5s linear;
  z-index: 1; }
  .navbar .logoNavbar img {
    display: flex;
    width: 220px;
    height: auto;
    padding: 15px; }
  .navbar .navbarLinks {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    opacity: 1; }
    .navbar .navbarLinks li {
      list-style: none;
      margin: 0px 10px 0px 10px; }
      .navbar .navbarLinks li a {
        text-decoration: none;
        color: #211915;
        border-bottom: none;
        text-shadow: 10px 10px 12px #211915; }
  .navbar .hoverUnderlineAnimation {
    display: inline-block;
    position: relative;
    color: #fcbe07; }
  .navbar .hoverUnderlineAnimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fcbe07;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out; }
  .navbar .hoverUnderlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .navbar .horizontalNav {
    width: 20%;
    display: flex;
    flex-direction: column; }

.vertical {
  position: sticky;
  opacity: 0.75;
  background-color: white;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  transition: all 0.7s linear; }

/**************/
/************/
/*** HOME ***/
.homeContainer {
  position: relative;
  width: auto;
  height: 750px;
  margin-bottom: 25px;
  display: flex;
  overflow: hidden;
  opacity: 1;
  border-radius: 15px; }
  .homeContainer .carousel {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #211915; }
    .homeContainer .carousel .carousel-control-next, .homeContainer .carousel .carousel-control-prev {
      margin: 0px 150px;
      width: auto; }
    .homeContainer .carousel .carousel-inner {
      border-radius: 15px; }
  .homeContainer .home-title {
    position: absolute;
    margin: auto;
    width: 1200px;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 80px;
    font-weight: 900;
    color: #211915;
    text-align: center;
    animation-name: appear;
    animation-duration: 3.5s; }
    .homeContainer .home-title h1 {
      color: white;
      text-shadow: 0px 0px 500px #211915;
      font-size: 90px;
      margin: 0;
      padding-bottom: 100px; }
    .homeContainer .home-title button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fcbe07;
      color: #211915;
      border-radius: 5px;
      font-size: 30px;
      border-color: #fcbe07;
      box-shadow: 0px 1px 30px #211915; }
      .homeContainer .home-title button a {
        text-decoration: none;
        color: #211915;
        font-weight: 500;
        padding: 5px; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nextSectionButtonHome {
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 15px;
  justify-content: right; }
  .nextSectionButtonHome img {
    width: 70px; }

/****************/
/*** SERVICES ***/
#servicesSection {
  height: 1000px; }
  #servicesSection .servicesContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 80px 0px 80px;
    padding-top: 10px; }
    #servicesSection .servicesContainer .flip-card {
      background-image: url(/public/hexagon.png);
      background-size: 100%;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
      width: 450px;
      height: 400px;
      border-radius: 15px;
      justify-content: center; }
    #servicesSection .servicesContainer .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg); }
    #servicesSection .servicesContainer .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }
    #servicesSection .servicesContainer .flip-card-front, #servicesSection .servicesContainer .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden; }
    #servicesSection .servicesContainer .flip-card-front {
      background-color: transparent;
      color: #211915;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center; }
      #servicesSection .servicesContainer .flip-card-front h2 {
        margin-top: 40px;
        color: #fcbe07;
        font-size: 28px; }
      #servicesSection .servicesContainer .flip-card-front img {
        width: 150px;
        align-items: center;
        margin-bottom: 30px; }
    #servicesSection .servicesContainer .flip-card-back {
      color: #211915;
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      #servicesSection .servicesContainer .flip-card-back h4 a {
        text-decoration: none;
        color: #fcbe07;
        margin-top: 40px;
        font-size: 25px; }
      #servicesSection .servicesContainer .flip-card-back p {
        color: #fcbe07;
        width: 230px;
        margin: 30px;
        font-size: 18px; }
    #servicesSection .servicesContainer .row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 25px; }
    #servicesSection .servicesContainer .row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
  #servicesSection .nextSectionButton {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: auto;
    justify-content: right; }
    #servicesSection .nextSectionButton img {
      width: 70px;
      margin-bottom: 50px;
      margin-right: 25px; }

/****************/
/**************/
/*** VALUES ***/
.valuesContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  height: 800px;
  background-size: 100%; }
  .valuesContainer .values {
    width: 500px;
    height: 600px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: opacity;
    animation-duration: 2.5s; }
    .valuesContainer .values img {
      width: 80px; }
    .valuesContainer .values h3 {
      font-size: 50px;
      text-align: center;
      color: #211915; }
    .valuesContainer .values p {
      font-size: 25px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      color: #211915; }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nextSectionButton {
  display: flex;
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  justify-content: right;
  background-color: transparent; }
  .nextSectionButton img {
    width: 70px;
    margin-bottom: 50px;
    margin-right: 25px; }

/**************/
/*******************/
/*** GET A QUOTE ***/
#get-quote-section {
  height: 850px; }
  #get-quote-section .getQuoteContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-evenly; }
    #get-quote-section .getQuoteContainer .quoteText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
      animation: appear;
      animation-duration: 2.5s; }
      #get-quote-section .getQuoteContainer .quoteText h3 {
        font-size: 50px;
        margin: 0;
        text-shadow: 0px 1px 1px #211915; }
      #get-quote-section .getQuoteContainer .quoteText h4 {
        font-size: 40px;
        margin-bottom: 20px;
        text-shadow: 0px 1px 1px #211915; }
      #get-quote-section .getQuoteContainer .quoteText button {
        font-size: 25px;
        text-align: center;
        color: #211915;
        padding: 10px;
        border: none;
        border-radius: 5%;
        background-color: #fcbe07;
        box-shadow: 0px 1px 2px #211915; }
        #get-quote-section .getQuoteContainer .quoteText button a {
          color: #211915;
          text-decoration: none;
          padding: 5px;
          font-weight: 600; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    #get-quote-section .getQuoteContainer .quoteBanner {
      height: 500px;
      margin-top: 150px;
      animation: appear;
      animation-duration: 2.5s; }
      #get-quote-section .getQuoteContainer .quoteBanner img {
        width: 750px;
        height: 500px;
        border-radius: 10%; }
  #get-quote-section .backToTopButton {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    margin: auto;
    justify-content: center; }
    #get-quote-section .backToTopButton img {
      width: 70px;
      transform: scaleY(-1); }

/****************/
.footerContainer {
  height: 400px;
  background-color: #211915;
  opacity: 0.95; }
  .footerContainer .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px; }
    .footerContainer .row1 h4 {
      color: white;
      font-size: 30px; }
    .footerContainer .row1 input {
      background-color: white;
      color: #211915;
      width: 400px;
      text-align: left;
      align-self: center;
      padding: 10px; }
    .footerContainer .row1 button {
      background-color: #fcbe07;
      color: #211915;
      width: 100px;
      height: 40px;
      border: 1; }
  .footerContainer .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-left: 320px;
    margin-right: 320px; }
    .footerContainer .row2 img {
      width: 200px; }
    .footerContainer .row2 .websiteLinks {
      padding: 0; }
      .footerContainer .row2 .websiteLinks li {
        list-style: none; }
    .footerContainer .row2 a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      text-align: left; }
  .footerContainer .row3 .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    .footerContainer .row3 .socialIcons img {
      width: 50px; }

/*********************/
/*** MEDIA QUERIES ***/
@media only screen and (max-width: 490px) {
  .navbar {
    display: flex;
    flex-wrap: wrap; } }

/*******************/
