/***************/
/*** GENERAL ***/

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("/public/bigstock-Background-with-D-hexagons-pa-417542800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
}

$primary-color: #fcbe07;

$primary-rgb-color: rgba(252, 190, 7, 0.5);

$secondary-color: #211915;



/***************/