/***************/
/*** GENERAL ***/

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

$primary-color: #fcbe07;

$primary-rgb-color: rgba(252, 190, 7, 0.5);

$secondary-color: #211915;



/***************/