.footerContainer {
    height: 400px;
    background-color: $secondary-color;
    opacity: 0.95;

    .row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 80px;
    
        h4 {
            color: white;
            font-size: 30px;
            }
        
        input {
            background-color: white;
            color: $secondary-color;
            width: 400px;
            text-align: left;
            align-self: center;
            padding: 10px;
        }

        button {
            background-color: $primary-color;
            color: $secondary-color;
            width: 100px;
            height: 40px;
            border: 1;
            
        }


    }

    .row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        margin-left: 320px;
        margin-right: 320px;

        img {
            width: 200px;
        }

        .websiteLinks {
            padding: 0;

            li {
                list-style: none;
            }
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            text-align: left;
            
            }
    }

    .row3 {

        .socialIcons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-decoration: none;
            list-style: none;
            padding: 0;
            margin: 0;
            
            img {
                width: 50px;
            }
        }

    }
}