/*******************/
/*** GET A QUOTE ***/

#get-quote-section {
    height: 850px;
    // background-color: white;

    .getQuoteContainer {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        justify-content: space-evenly;

        .quoteText {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 150px;
            animation: appear;
            animation-duration: 2.5s;

        h3 {
            font-size: 50px;
            margin: 0;
            text-shadow: 0px 1px 1px $secondary-color;
            color: white;
        }
        
        h4 {
            font-size: 40px;
            margin-bottom: 20px;
            text-shadow: 0px 1px 1px $secondary-color;
            color: white;
        }

        button {
            font-size: 25px;
            text-align: center;
            color: $secondary-color;
            padding: 10px;
            border: none;
            border-radius: 5%;
            background-color: $primary-color;
            box-shadow: 0px 1px 2px $secondary-color;

            a {
                color: $secondary-color;
                text-decoration: none;
                padding: 5px;
                font-weight: 600;
            }
        }

        @keyframes appear {
            from {opacity: 0;}
            to {opacity: 1;}
          }
    }

        .quoteBanner {
            height: 500px;
            margin-top: 150px;
            animation: appear;
            animation-duration: 2.5s;

            img {
                width: 750px;
                height: 500px;
                border-radius: 10%;   
            }
        }
    }

    .backToTopButton {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: auto; 
        justify-content: center;
                  
          img {
            width: 70px;
            transform: scaleY(-1);
          }
      }
}

/****************/