/**************/
/*** HEADER ***/

nav {
    justify-content: center;
    margin: auto;
    background-color: white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;

        li {
            list-style: none;
            margin: 0px 50px 0px 50px;

            img {
                width: 150px;                                          
            }
            
            .navbar_links {
                text-decoration: none;
                font-size: 30px;
                font-weight: 900;
                color: black;
                opacity: 1;
            }
            
            .navbar_links:hover {
                border-bottom: solid #A32A8D;
                border-width: 5px;
                transition: 0.15s;
            }
            
        }
    }
}

/**************/