/**************/
/*** HEADER ***/

.covidDisclaimer {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 4px;
    transition: all 0.7s linear;
    z-index: 3;

    p {        
        font-size: 15px;
        margin: auto;
        width: max-content;
        align-items: center;
    }
}

.navbar {
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    width: 100%;
    transition: all 0.5s linear;
    z-index: 1;

    
    .logoNavbar {

        img {
            display: flex;
            width: 200px;
            height: auto;
        }
    }
    
    .navbarLinks {
        display: flex;
        font-size: 20px;
        font-weight: 900;
        opacity: 1;     

        li {
            list-style: none;
            margin: 0px 10px 0px 10px;

            a {
                text-decoration: none;
                color: $secondary-color;
                border-bottom: none;
            }
        }
    }

    .hoverUnderlineAnimation {
        display: inline-block;
        position: relative;
        color: $primary-color;
    }

    .hoverUnderlineAnimation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $primary-color;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
    }

    .hoverUnderlineAnimation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}

.fixed-nav nav#nav{
    position: fixed;
    opacity: 0.75;
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    transition: all 0.7s linear;
}

.contactDetails {
    display: flex;
    background-color: $primary-color;
    justify-content: center;
    transition: all 0.7s ease-in;

    p {
        margin: 0px 50px;
        font-size: 20px;
        font-weight: 500;
        padding: 5px;
    }
}

/**************/