/************/
/*** HOME ***/

$carousel-indicator-transition: .1s;

.homeContainer {
    position: relative;
    width: auto;
    height: 750px;
    margin-bottom: 25px;
    display: flex;
    overflow: hidden;

  .carousel {
    width: 100%;

    .carousel-control-next, .carousel-control-prev {
      margin: 0px 150px;
      width: auto;
    }
  }

  .home-title {
    position: absolute;
    margin: auto;
    width: 800px;
    top: 40%;
    left: 0;
    right: 0;
    font-size: 60px;
    font-weight: 900;
    color: $secondary-color;
    text-align: center;
    animation-name: appear;
    animation-duration: 2.5s;

    h1 {
      color: white;
      text-shadow: 0px 1px 30px $secondary-color;
      font-size: 70px;
      margin: 0;
      padding-bottom: 25px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 5px;
      font-size: 30px;
      border-color: $primary-color;
      box-shadow: 0px 1px 30px $secondary-color;

      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: 500;
        padding: 5px;
        
      }
    }
  }  
  
  @keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}
  

.nextSectionButtonHome {
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 15px; 
  justify-content: right;
            
    img {
      width: 70px;
    }
}


