/****************/
/*** SERVICES ***/

#servicesSection {
    height: 1000px;
    background-color: white;

    .servicesContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 100px 0px 100px;
        padding-top: 125px;

        .flip-card {
            background-color: transparent;
            width: 350px;
            height: 250px;
            perspective: 1000px;
            margin: 50px;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: transparent;
            color: $secondary-color;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 20px;
            }

            img {
                width: 150px;
                align-items: center;
            }
        }

        .flip-card-back {
            color: $secondary-color;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h4 a {
                text-decoration: none;
                color: $secondary-color;
            }

            p {
                color: $secondary-color;
            }
        }

        .row1 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 25px;
        }

        .row2 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .nextSectionButton {
        display: flex;
        flex-direction: row;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: auto; 
        justify-content: right;
    
                
        img {
            width: 70px;
            margin-bottom: 50px;
            margin-right: 25px;
        }
    }
}

/****************/