/****************/
/*** SERVICES ***/

#servicesSection {
    height: 1000px;


    .servicesContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 80px 0px 80px;
        padding-top: 10px;

        .flip-card {
            background-image: url(/public/hexagon.png);
            background-size: 100%;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            width: 350px;
            height: 300px;
            border-radius: 15px;
            justify-content: center;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-inner {
            display: flex;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            justify-content: center;
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: transparent;
            color: $secondary-color;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 150px;
            margin: auto;

            h2 {
                margin: 0;
                color: $primary-color;
                font-size: 34px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 1px 12px $primary-color;
            }

            img {
                width: 150px;
                align-items: center;
                margin-bottom: 30px;
            }
        }

        .flip-card-back {
            color: $secondary-color;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h4 a {
                text-decoration: none;
                color: $primary-color;
                margin-top: 40px;
                font-size: 25px;
            }

            p {
                color: $primary-color;
                width: 230px;
                margin: 30px;
                font-size: 18px;
            }
        }

        .row1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .row2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .row3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .nextSectionButton {
        display: flex;
        flex-direction: row;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: auto; 
        justify-content: right;
    
                
        img {
            width: 70px;
            margin-bottom: 50px;
            margin-right: 25px;
        }
    }
}

/****************/